:root{
  --backround:  #e7e9f6;
  --backround_sub:  #cfd3ed;
  --corlor_text:#6B4CD5 ;
  --corlor_text_hover:#ffffff;
  --box-shadow: -1px 2px 12px 1px #000000;
  --box-shadow_sidebar: none;
  --color_element:#6B4CD5 ;
  --border_button:1px solid #D0CECE;
  --boxshadow_hover:1px 0px 10px 6px #6B4CD5 ;
  --border:1px solid #bfbfbf;
  --border_h:#ffffff;
  --boxshadow_popup: 0 0 12px 3px #949494;
  --button_background_hover:#6B4CD5 ;
  --button_background:#ffffff; ;
  --border_button:1px solid #bfbfbf;
  --button_corlortext:#ffffff;
  --table_text: black;
  --td_color:#ffffff;
  --th_color: #cfd3ed;
  --button_background_dis:#cfd3ed;
}

html,body{
  font-family: 'Calibri','Arial','Franklin Gothic Medium', 'Arial Narrow', 'sans-serif';
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--backround);
  display: flex;
  flex-direction: column;
}
header{
display: flex;
height: 53px;
padding-top: 15px;
}


/* -------------------------------------css for bell and account-------------------------------- */

.notification-list {
  text-align: center;
  color: var(--corlor_text);
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  background-color:var(--backround_sub);
  border:none;
  border-radius: 4px;
  padding: 10px;
  box-shadow: var(--box-shadow);
}


#account-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--backround);
  border: none;
  color:var(--color_element);
  width: fit-content;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 150%;
  margin-left: auto;
}
#account-button:hover{
  cursor: pointer;
  color: var(--corlor_text);
}
.notification-list-acc {
  color: var(--corlor_text);
  display: none;
  font-size: 14px;
  position: absolute;
  top: 6%;
  right: 0;
  width: fit-content;
  background-color:var(--backround_sub);
  border: none;
  border-radius: 4px;
  padding: 10px;
  box-shadow: var(--box-shadow);

}

.notification-list-acc p {
  font-size: 14px;
  margin-right: auto;
  width: fit-content;
}

.notification-list-acc button {
  margin-top: 20px;
  background: none;
  color: var(--color_element);
  border: none;
  text-align: right;
  width: 100%;
}
.notification-list-acc button:hover{
cursor: pointer;
}

/* -------------------------------------css for bell and account-------------------------------- */

/* ---------------------------CSS for sidebar---------------------------------- */
  .sidebar {
    z-index: 10;
    width: 370px;
    background-color:var(--backround_sub);
    height: 100vh;
    position: fixed;
    top: 0;
    left: -325px; 
    transition: left 0.3s ease;
    box-shadow: var(--box-shadow_sidebar);
  }

  .sidebar.open {
    left: 0; 
  }
.menu{
  z-index: 10;
    color: var(--color_element);
  }

  .sidebar ul {
    font-size: 26px;
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
    margin-left: 30px;
  }

  .sidebar ul li {
     cursor: pointer;
    padding: 10px;
  }
  
  .sidebar ul li a {
 
    text-decoration: none;
    color:  var(--corlor_text);
  }

  .sidebar ul li a:hover {
    color:var(--color_element);
    font-weight: bold;
  }

  .content {
    margin-left: 250px;
    padding: 20px;
  }

  .menu {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
  }
/* ---------------------------CSS for sidebar---------------------------------- */

 /* --------------------------------------------------------------------------------Database of wording------------------------------------------------------------------------ */

 h1{
  text-decoration:2px underline;
  text-underline-offset: 4px;
  
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--corlor_text);
  margin-left: 90px;
  font-size: 40px;
  font-weight: 2000;
 }

h3{
  border-top: 0.5px solid #ffffff;
  color: var(--corlor_text);
  margin-left: 50px;
  font-size: 15px;
  font-weight: 1000;
  margin-top: 20px;
}
h4{
  height: 40%;
  text-align: center;
  text-decoration:2px underline;
  text-underline-offset: 4px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: var(--corlor_text);
  font-size: 40px;
  font-weight: 1000;
}
.btn:hover {

  background-color: var(--button_background_hover);
  color:var(--button_corlortext);

}
.box_btn button{
  font-size: larger;
  width: fit-content;
  background-color: var(--button_background);
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  color: var(--corlor_text);
  text-decoration: none;
  margin-left: 10px;
  font-weight: 800;

}
.box_btn {
  margin-left: 60px;
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
}
.box_btn button {
  flex: 0 0 auto;
  margin-right: 10px;
  margin-bottom: 10px;
}
.box_btn button:hover {
  background: var(--button_background_hover);
  color: var(--corlor_text_hover);

}

#btn_back_to_home{
  margin-left: 100px;
  margin-top: 10px;
  height: fit-content;
  padding:10px 20px;
  font-size: 15px;
  background-color: var(--color_element);
  color: var(--button_background);
  border-radius: 5px;
  border: none;
}
#btn_back_to_home:hover {
  cursor: pointer;
  background-color: var(--button_background_hover);
  color: var(--corlor_text_hover);

}

#Wraper_table_Information_about_TEXT_ID_manager{
  position: relative;
  table-layout: fixed;
  overflow: auto;
  margin-top: 20px;
  background-color: var(--backround);
  width: 95%;
  flex-grow: 1;
  margin-left: 70px;
  height: 580px;
  border: none;
  table-layout: fixed;
  z-index: 3;
}

#Information_about_TEXT_ID_content{
  flex: 1; 
  background-color: var(--backround);
  display: flex;
  flex-direction: column;
  z-index: 3;
  }
  #Information_about_TEXT_ID_content2{
    flex: 1; 
    background-color: var(--backround);
    display: flex;
    flex-direction: column;
    z-index: 3;
    }
    #Information_about_TEXT_ID_content3{
      flex: 1; 
      background-color:var(--backround);
      display: flex;
      flex-direction: column;
      z-index: 3;
      }
/* -------------------------CSS for table--------------------------------- */
table {
  font-size: 20px;
  table-layout: fixed;
  border-collapse:separate;
  border-spacing: 0px;
  color: var(--table_text);
  box-sizing: border-box;


}
#myTable_Information_about_TEXT_ID_info_manager {

  width:100% ;
  height: fit-content;
}
.blank{
  background-color: #FFFF00;
}
.NG{
  background-color: red;

}
.OK{
  background-color: #191919;
}

td input[type="text"] {

  overflow-wrap: break-word;
  width: fit-content;
  height: fit-content;
  border: none;
  outline: none;
  background:none;
  font-family: inherit;
  font-size: inherit;
  color: black;
}
tr td:nth-child(11) input[type="text"] {

  overflow-wrap: break-word;
  width: fit-content;
  height: 50px ;
  border: none;
  outline: none;
  background:#FFFF00;
  font-family: inherit;
  font-size: inherit;
  color: #ffffff;
}
th, td {
  position: relative;
  box-sizing: border-box;
  padding: 8px;
  text-align: left;
  border:var(--border);
  text-align: center;
}
td{

  background-color: var(--td_color);

}

th {

  background-color: var(--th_color);
} 

.sticky-thead {
  position: sticky;
  top: 0;
  z-index: 2;

}
th#th_check{
  position: sticky;

  left: 0;
  z-index: 2;
}
td:first-child{
  position: sticky;
  left: 0;
  z-index: 1;
}
th#th_textid {

  position: sticky;
  left: var(--a);
  z-index: 2;
}
td:nth-child(2) {
  z-index: 1;
  position: sticky;
  left: var(--a);

}
th#th_ver{
  position: sticky;
  left: var(--b);
  z-index: 2;
}
td:nth-child(3) {
  z-index: 1;
  position: sticky;
  left: var(--b);

}

th#th_language_1_4{
  position: sticky;
  left: var(--c);
  z-index: 2;
}
th#th_engsub{
  position: sticky;
  left: var(--c);
  z-index: 2;
}
td:nth-child(4) {
    z-index: 1;
  position: sticky;
  left: var(--c);

}

/* ---------------------------css for list button-------------------------------------------- */
.btn{
  font-size: larger;
  width: fit-content;
  background-color: var(--backround) !important;
  border-radius: 10px;
  box-sizing: border-box;
  border: var(--border) !important;
  padding: 10px 20px;
  color: var(--corlor_text);
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 800;
  position: relative;

}
.btn:hover {

  background-color: var(--button_background_hover);
  color:var(--corlor_text_hover);

}

/* ---------------------------css for list button-------------------------------------------- */

/* ------------------------------popup set password------------------------------------------ */


.btn_pop{
  font-size: larger;
  width: fit-content;
  background-color: #252525;
  border-radius: 10px;
  border: 1px solid #D0CECE;
  padding: 10px 20px;
  color: #e94801;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 800;
}
.btn_pop:hover {

  background-color: #e94801;
  color:#ffffff;

}

#not_macth{
  color: red;
  display: none;

}
#lack_of_infor{
  color: red;
  display: none;
}
#lack_of_infor2{
  text-align: center;
  color: red;
  display: none;
  position: absolute;
  top: 14%;
  left: 40%;
}

/* ------------------------------popup set deadline------------------------------------------ */
#mess_tran2{
  display: none;
  margin-top: 0;
  margin-bottom: 1px;
  text-align: center;
  color: #59c1fd;
  font-size: 30px;
}
/* ------------------------------popup request view------------------------------------------ */
#Information_about_TEXT_ID_view{
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  position: fixed;
  top:0;
  left: 0;
  z-index: 3;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}
#modal_Information_about_TEXT_ID_view{
border-radius: 15px;
box-shadow: var(--box-shadow);
padding: 20px;
display: grid;
grid-template-columns: repeat(1, 1fr);
gap: 8px;
position: relative;
background: var(--backround);
width: 30%;
height: 55%;

}
#Information_about_TEXT_ID_view.show{
opacity: 1 !important;
pointer-events: all;
}
.Information_about_TEXT_ID_view_btn_ok_cancle{
display: flex;
height: fit-content;
justify-content: flex-end;

}


.btn_pop{
  font-size: larger;
  width: fit-content;
  background-color: var(--button_background);
  border-radius: 10px;
  border: var(--border);
  padding: 10px 20px;
  color: var(--corlor_text);
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 800;
}
.btn_pop:hover {

  background-color: var(--button_background_hover);
  color:var(--corlor_text_hover);

}
#Information_about_TEXT_ID_view_form{
  display: grid;
  place-items: center; 
  padding: 20px;
}
#Information_about_TEXT_ID_view_form span{
  width: 90%;
  height: 150px;
}
#modal_Information_about_TEXT_ID_view p{
    text-align: center;
    color: var(--corlor_text);
    font-size: 20px;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
    height: fit-content;
}
#Information_about_TEXT_ID_view_form span input{
  width: 100%;
  height: 50%;
  border: 2px solid #e94801;
  border-radius: 23px;
  background-color: var(--backround_sub);
  font-family: Arial, sans-serif;
  font-size: 30px; 
  color:black; 
}
#Information_about_TEXT_ID_view_form span input text{
font-size: 30px;
color: black;

}
#Information_about_TEXT_ID_view_form label{
color: var(--corlor_text);
font-size: 25px;
}


#not_macth{
  color: red;
  display: none;

}
#lack_of_infor{
  color: red;
  display: none;
}
#lack_of_infor2{
  text-align: center;
  color: red;
  display: none;
  position: absolute;
  top: 14%;
  left: 40%;
}
/* ------------------------------popup request view------------------------------------------ */
#myTable_Information_about_TEXT_ID_info_manager thead {
  position: sticky;
  top: 0;
  z-index: 2;

}


  @media only screen and (max-width: 1600px) {
    #Wraper_table_Information_about_TEXT_ID_manager{
      height: 510px;
    }


   

  }
  @media only screen and (max-width: 1366px) {
  h1{
  
      font-size: 20px;

    }
    #btn_Information_about_TEXT_ID {
      font-size: 6px;

    }
  #Wraper_table_Information_about_TEXT_ID_manager{
    height: 510px;
  }

#mess_tran2{
  font-size: 20px;
}

#mess_tran{
  font-size: 20px;
}


.highlight {
  color: red;
  font-weight: bold;
}

  }
  @media only screen and (max-width: 2560px) {


    #wraper_Validator_Status{
      margin-right: 30px;
    }
    #Wraper_table_Information_about_TEXT_ID_manager{
      height: 510px;
    }

      }
@media only screen and (max-width: 3840px) {
  
}


@keyframes flashing-border {
  0% {
    border: 2px solid #ffffff;
  }
  50% {
    background-color:  #59c1fd;
  }
  100% {
    border: 2px solid #ffffff;
  }
}
.flashing-button.clicked {
  animation: none;
  border: 2px solid #ffffff;
}