html,body{
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #252525;
    display: grid;
    /* align-content: space-between; */
  }
header{
  display: flex;
  height: 53px;
  padding-top: 15px;
}
/* -------------------------------------css for bell and account-------------------------------- */


.icon-button__badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
/* -----------------------------css for list thong bao-------------- */

.notification-list {
  text-align: center;
  color: #ffffff;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  background-color:#323232;
  border:none;
  border-radius: 4px;
  padding: 10px;
  box-shadow: -1px 2px 12px 1px #000000;
}

/* -----------------------------css for list thong bao-------------- */

/* -------------------------------------css for bell and account-------------------------------- */
#account-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252525;
  border: none;
  color: #e94801;
  width: fit-content;
  margin-left: auto;
  margin-right: 10px;
  font-size: 150%;
}
#account-button:hover{
  cursor: pointer;
  color: #ffffff;

}
.notification-list-acc {
  color: #ffffff;
  display: none;
  font-size: 14px;
  position: absolute;
  top: 6%;
  right: 0;
  width: fit-content;
  background-color:#323232;
  border: none;
  border-radius: 4px;
  padding: 10px;
  box-shadow: -1px 2px 12px 1px #000000;

}

.notification-list-acc p {
  font-size: 14px;
  margin-right: auto;
  width: fit-content;
}

.notification-list-acc button {
  margin-top: 20px;
  background: none;
  color: #e94801;
  border: none;
  text-align: right;
  width: 100%;
}
.notification-list-acc button:hover{
cursor: pointer;
}

/* -------------------------------------css for bell and account-------------------------------- */

/* ---------------------------CSS for sidebar---------------------------------- */
  .sidebar {
    width: 250px;
    background-color: #323232;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -208px; /* ẩn thanh menu bên trái */
    transition: left 0.3s ease;
    box-shadow: 6px 2px 12px 1px #000000;
  }

  .sidebar.open {
    left: 0; /* hiển thị thanh menu bên trái */
  }
.menu{
    color: #e94801;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
    margin-left: 30px;
  }

  .sidebar ul li {
    padding: 10px;
    /* border-bottom: 1px solid #ccc; */
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color:  #ffffff;
  }

  .sidebar ul li a:hover {
    color:#e94801;
    font-weight: bold;
  }

  .content {
    margin-left: 250px;
    padding: 20px;
  }

  .menu {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
  }
/* ---------------------------CSS for sidebar---------------------------------- */
/*--------------------------CSS cho các tinh nang -------------------------------*/

  .box:hover{
    box-shadow: 1px 0px 10px 6px #e94801;
  }
  .box:active{
    background-color: #e94801;
    color: white;
  }
  .box.active{
    background-color: #e94801;
    color: white;
  }



#Spec_tender_file_export_home_container{
    width: auto;
    margin-right: 100%;
    height: 21%;
    display: flex;
}
#Spec_tender_file_export_home_function{
  display: grid;
  gap: 25px;
  flex-basis: 20%;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
}
.box {
  font-size: 20px;
  font-weight: 600;
  color:  #e94801;
  border:2px solid #c2c2c2 ;
  border-radius: 10px;
  width: 200px;
  height: 110px;
  background-color: #252525;
  margin-bottom: 10px;
  cursor: pointer;  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}
h3{
  border-top: 0.5px solid #ffffff;
  color: #ffffff;
  margin-left: 50px;
  font-size: 15px;
  font-weight: 1000;
  margin-top: auto;
 }

  /*--------------------------CSS cho các tinh nang -------------------------------*/

 #Spec_tender_file_export_button_back{
  color: #D0CECE;
    margin-top: auto;
    width: 123px;
    height: 43px;
    background-color: #e94801;
    border-radius: 8px;
    margin-top: auto;
    

}
#Spec_tender_file_export_button_back:hover{
  cursor: pointer;
  color: #e94801;
  background-color: #ffffff;
}
 
#Information_about_TEXT_ID{
  flex: 1; /* Chiều cao tự mở rộng để điền vào không gian còn lại */
  background-color: #252525;
  display: flex;
  flex-direction: column;
  
  }
  h1{
    text-decoration:2px underline;
    text-underline-offset: 4px;
    
    margin-top: 0px;
    margin-bottom: 20px;
    color: #ffffff;
    margin-left: 90px;
    font-size: 40px;
    font-weight: 1000;
   }
   .box_btn {
    margin-left: auto;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  .box_btn button {
    flex: 0 0 auto;
    margin-right: 10px;
    margin-bottom: 10px;
  } 
  .box_btn button{
    font-size: larger;
    width: fit-content;
    background-color: #191919;
    border-radius: 10px;
    border-color: #ffffff;
    padding: 10px 20px;
    color: #e94801;
    text-decoration: none;
    margin-left: 10px;

  }
  .btn_display:hover{
    cursor: pointer;
    background-color: #e94801;
    color: #ffffff;
  }
  #Spec_tender_file_export_text{
    width: 80%;
    color: #00B0F0;
    margin-left: 10%;
    font-size: 20px;
  }


  /* ------------------------------------------------tbl--------------------------------- */
  .table_Spec_tender_file_export_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5px;
    width: 90%;
    margin-left: auto;
}

.btn_Spec_tender_file_export {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    width: 90%;
    margin-right: auto;
    font-weight: 1000;
    border-radius: 35px;
    color: #ffffff;
    background-color: #203864;
}
.table_Spec_tender_file_export{

    padding: 20px;
    text-align: center;
    width: 90%;
    font-size: 25px;
    border-color:#4472C4 ;
    background-color: #ffffff;
    border-radius: 10px;
}
#btn_table_Spec_tender_file_export_Select_project{
  background-color: #203864;
}
#btn_table_Spec_tender_file_export_Output_version_number{
  background-color: #203864;
}
#Information_about_TEXT_ID_content{
  width: auto;
  margin-left: 75px;
  display: grid;
  height: 90%;
}

  

/* <!-- ------------------------------------------------------Meter Display type popup-------------------------------- --> */


#Information_about_TEXT_ID_Meter_Display_type{
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  position: fixed;
  top:0;
  left: 0;
  z-index: 3;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}
#modal_Meter_Display_type{
border-radius: 15px;
box-shadow: 0 0 12px 3px #59c1fd;
padding: 20px;
display: grid;
grid-template-columns: repeat(1, 1fr);
gap: 8px;
position: relative;
background: #252525;
width: 30%;
height: 40%;

}
#Information_about_TEXT_ID_Meter_Display_type.show{
opacity: 1;
pointer-events: all;
}
.btn_ok_cancle{
display: flex;
height: fit-content;
justify-content: flex-end;
}
 table {
  width: 100%;
  border-collapse:separate;
  border-spacing: 0px;
  color: #ffffff;
 
}
th, td {
 
  
  box-sizing: border-box;
  padding: 8px;
  text-align: left;
  border: 1px solid #571C01;
  text-align: center;
}
td{

  background-color: #252525;
  word-wrap: break-word;
  word-break: break-all;
}

th {
  
  
  background-color: #191919;
}
thead th { 
  position:sticky;
  top: 0;
} 
h4{
  height: 40%;
  text-align: center;
  text-decoration:2px underline;
  text-underline-offset: 4px;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 50px;
  font-weight: 1000;
 }
 .btn_pop{
  font-size: larger;
  width: fit-content;
  background-color: #252525;
  border-radius: 10px;
  border: 1px solid #D0CECE;
  padding: 10px 20px;
  color: #e94801;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 800;
}
.btn_pop:hover {

  background-color: #e94801;
  color:#ffffff;

}
#table_Meter_Display_type{
  overflow-y: auto;
}
#fileInput{
  display: none;
}
#btn_table_Spec_tender_file_export_Select_wording_list:hover{
  cursor: pointer;
  background-color: #4472C4;
}
#btn_table_Spec_tender_file_export_Select_language:hover{
  cursor: pointer;
  background-color: #4472C4;
}

#btn_table_Spec_tender_file_export_Select_storage_location:hover{
  cursor: pointer;
  background-color: #4472C4;
}
#language_display{
  display: flex;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.language_choises{
  margin: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 15px;

}


#language_display{
  display: flex;
  display: none;
  width: 94%;
  font-size: 23px;
}
#select_project{
  overflow-y: auto;
  width: auto;
  margin-right: 5%;
}
.checkbox_name{
  width: 50%;
}
footer {
  margin-top: auto;
}


/* @media (max-width: 2560px) {
  #select_project{
    width: 92.5%;
  }
  #Spec_tender_file_export_text{
    font-size: 30px;
  }
  #Spec_tender_file_export_home_container{
    height: 16%;
  }
  .box_btn{
    font-size: 35px;
  }
  #Spec_tender_file_export_button_back {
    width: 165px;
    height: 70px;
    font-size: 35px;
    border-radius: 12px;
  }
  h3{
    font-size: 30px;
  }
  #table_Meter_Display_type{
    font-size: 30px;
  }
  .checkbox_name {
    width: 100%;
    height: 30px;
}

}
@media (max-width: 1920px){
  .table_Spec_tender_file_export_container{
    height: 40%;
  }
  #select_project{
    width: 93.5%;
  }
  #Spec_tender_file_export_text{
    font-size: 25px;
  }
  #Spec_tender_file_export_home_container{
    height: 15%;
}
.box_btn{
  font-size: 25px;
}
#Spec_tender_file_export_button_back {
  width: 123px;
  height: 43px;
  border-radius: 8px;
  font-size: 20px;
  margin-top: auto;
}
h3{
  font-size: 15px;
}
#table_Meter_Display_type{
  font-size: 20px;
}
.checkbox_name {
  width: 100%;
  height: 20px;
}
}

@media (max-width: 1600px) {
  #select_project{
    width: 94.5%;
  }
  #Spec_tender_file_export_text{
    font-size: 20px;
  }
  #Spec_tender_file_export_home_container{
    height: 20%;
}
.box_btn{
  font-size: 20px;
}
#Spec_tender_file_export_button_back {
  width: 123px;
  height: 43px;
  border-radius: 8px;
  font-size: 20px;
  margin-top: auto;
}
h3{
  font-size: 15px;
}
#table_Meter_Display_type{
  font-size: 20px;
}
.checkbox_name {
  width: 100%;
  height: 20px;
}
} */
