:root{
  --backround:  #e7e9f6;
  --backround_sub:  #cfd3ed;
  --corlor_text:#6B4CD5 ;
  --corlor_text_hover:#ffffff;
  --box-shadow: -1px 2px 12px 1px #000000;
  --box-shadow_sidebar: none;
  --color_element:#6B4CD5 ;
  --border_button:1px solid #D0CECE;
  --boxshadow_hover:1px 0px 10px 6px #6B4CD5 ;
  --border:1px solid #bfbfbf;
  --border_h:#ffffff;
  --boxshadow_popup: 0 0 12px 3px #949494;
  --button_background_hover:#6B4CD5 ;
  --button_background:#ffffff; ;
  --border_button:1px solid #bfbfbf;
  --button_corlortext:#ffffff;
  --table_text: black;
  --td_color:#ffffff;
  --th_color: #cfd3ed;
  --button_background_dis:#cfd3ed;
 
}



html,body{
  font-family: 'Calibri','Arial','Franklin Gothic Medium', 'Arial Narrow', 'sans-serif';
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--backround);
  display: flex;
  flex-direction: column;
}
header{
width: 100%;
display: flex;
height: 53px;
padding-top: 15px;
}

/* -------------------------------------css for bell and account-------------------------------- */
.notification-list {
  text-align: center;
  color: var(--corlor_text);
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  background-color:var(--backround_sub);
  border:none;
  border-radius: 4px;
  padding: 10px;
  box-shadow: var(--box-shadow);
}


#account-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--backround);
  border: none;
  color:var(--color_element);
  width: fit-content;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 150%;
  margin-left: auto;
}
#account-button:hover{
  cursor: pointer;
  color: var(--corlor_text);
}
.notification-list-acc {
  color: var(--corlor_text);
  display: none;
  font-size: 14px;
  position: absolute;
  top: 6%;
  right: 0;
  width: fit-content;
  background-color:var(--backround_sub);
  border: none;
  border-radius: 4px;
  padding: 10px;
  box-shadow: var(--box-shadow);

}

.notification-list-acc p {
  font-size: 14px;
  margin-right: auto;
  width: fit-content;
}

.notification-list-acc button {
  margin-top: 20px;
  background: none;
  color: var(--color_element);
  border: none;
  text-align: right;
  width: 100%;
}
.notification-list-acc button:hover{
cursor: pointer;
}

/* -------------------------------------css for bell and account-------------------------------- */

/* ---------------------------CSS for sidebar---------------------------------- */
  .sidebar {
    z-index: 10;
    width: 370px;
    background-color:var(--backround_sub);
    height: 100vh;
    position: fixed;
    top: 0;
    left: -325px;
    transition: left 0.3s ease;
    box-shadow: var(--box-shadow_sidebar);
  }

  .sidebar.open {
    left: 0; 
  }
.menu{
  z-index: 10;
    color: var(--color_element);
  }

  .sidebar ul {
    font-size: 26px;
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
    margin-left: 30px;
  }

  .sidebar ul li {
     cursor: pointer;
    padding: 10px;
  }
  
  .sidebar ul li a {
 
    text-decoration: none;
    color:  var(--corlor_text);
  }

  .sidebar ul li a:hover {
    color:var(--color_element);
    font-weight: bold;
  }

  .content {
    margin-left: 250px;
    padding: 20px;
  }

  .menu {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
  }
/* ---------------------------CSS for sidebar---------------------------------- */
/*--------------------------CSS for function -------------------------------*/

  .box:hover{
    box-shadow: 1px 0px 10px 6px #e94801;
  }
  .box:active{
    background-color: #e94801;
    color: white;
  }
  .box.active{
    background-color: #e94801;
    color: white;
  }



#Spec_tender_file_export_home_container{
    width: auto;
    margin-right: 100%;
    height: 21%;
    display: flex;
}
#Spec_tender_file_export_home_function{
  display: grid;
  gap: 25px;
  flex-basis: 20%;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
}
.box {
  font-size: 20px;
  font-weight: 600;
  color:  #e94801;
  border:2px solid #c2c2c2 ;
  border-radius: 10px;
  width: 200px;
  height: 110px;
  background-color: #252525;
  margin-bottom: 10px;
  cursor: pointer;  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}
h3{
  border-top: 0.5px solid #ffffff;
  color: var(--corlor_text);
  margin-left: 50px;
  font-size: 15px;
  font-weight: 1000;
  margin-top: auto;
 }

  /*--------------------------CSS for function -------------------------------*/

 #Spec_tender_file_export_button_back{
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding:10px 20px;
  font-size: 15px;
  background-color: var(--color_element);
  color: #ffffff;
  border-radius: 5px;
  border: none;

}
#Spec_tender_file_export_button_back:hover{
  cursor: pointer;
  background-color: var(--color_element);
  color: var(--corlor_text_hover);
}
.selectfile:hover{
  
  cursor: pointer;
  background-color: var(--color_element);
  color: var(--corlor_text_hover);
}
 
#Information_about_TEXT_ID{
  flex: 1; 
  background-color: var(--backround);
  display: flex;
  flex-direction: column;
  
  }
  h1{
    text-decoration:2px underline;
    text-underline-offset: 4px;
    
    margin-top: 0px;
    margin-bottom: 20px;
    color: var(--corlor_text);
    margin-left: 0;
    font-size: 40px;
    font-weight: 2000;
   }
   .box_btn {
    margin-left: auto;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  .box_btn button {
    flex: 0 0 auto;
    margin-right: 10px;
    margin-bottom: 10px;
  } 
  .box_btn button{
    font-size: larger;
    width: fit-content;
    background-color: var(--color_element);
    border-radius: 10px;
    border-color: var(--border_button);
    padding: 10px 20px;
    color: var(--button_background);
    text-decoration: none;
    margin-left: 10px;

  }
  .btn_display:hover{
    cursor: pointer;
    background-color: var(--button_background_hover);
    color: var(--corlor_text_hover);
  }
  #Spec_tender_file_export_text{
    width: 80%;
    color: #2d2c2c;
    margin-left: 5%;
    font-size: 20px;
  }


  .table_Spec_tender_file_export_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5px;
    width: 90%;
    margin-left: 5%;
}

.btn_Spec_tender_file_export {
  cursor: pointer;
    background-color: var(--backround_sub);
    padding: 20px;
    text-align: center;
    font-size: 20px;
    width: 90%;
    margin-right: auto;
    font-weight: 1000;
    border-radius: 35px;
    color: var(--corlor_text);

}
.btn_Spec_tender_file_export :hover{
  background-color: var(--button_background_hover);
  color: var(--corlor_text_hover);
}
.table_Spec_tender_file_export{

    padding: 20px;
    text-align: center;
    width: 90%;
    font-size: 25px;
    border-color:#4472C4 ;
    background-color: #ffffff;
    border-radius: 10px;
}

#Information_about_TEXT_ID_content{
  width: auto;
  margin-left: 75px;
  display: grid;
 
}

  

/* <!-- ------------------------------------------------------Meter Display type popup-------------------------------- --> */


#Information_about_TEXT_ID_Meter_Display_type{
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  position: fixed;
  top:0;
  left: 0;
  z-index: 3;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}
#modal_Meter_Display_type{
border-radius: 15px;
box-shadow: var(--border);
padding: 20px;
display: grid;
grid-template-columns: repeat(1, 1fr);
gap: 8px;
position: relative;
background: var(--backround);
width: 30%;
height: 40%;

}
#Information_about_TEXT_ID_Meter_Display_type.show{
opacity: 1;
pointer-events: all;
}
.btn_ok_cancle{
display: flex;
height: fit-content;
justify-content: flex-end;
}
 table {
  width: 100%;
  border-collapse:separate;
  border-spacing: 0px;
  color: var(--table_text);
 
}
th, td {
 
  
  box-sizing: border-box;
  padding: 8px;
  text-align: left;
  border: var(--border);
  text-align: center;
}
td{

  background-color: var(--backround);
  word-wrap: break-word;
  word-break: break-all;
}

th {
  
  
  background-color: var(--th_color);
}
thead th { 
  position:sticky;
  top: 0;
} 
h4{
  height: 40%;
  text-align: center;
  text-decoration:2px underline;
  text-underline-offset: 4px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: var(--corlor_text);
  font-size: 40px;
  font-weight: 1000;
 }
 .btn_pop{
  font-size: larger;
  width: fit-content;
  background-color: var(--backround);
  border-radius: 10px;
  border: 1px solid #D0CECE;
  padding: 10px 20px;
  color: var(--corlor_text);
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 800;
}
.btn_pop:hover {

  background-color: var(--button_background_hover);
  color:var(--corlor_text_hover);

}
#table_Meter_Display_type{
  overflow-y: auto;
}
#fileInput{
  display: none;
}

#language_display{
  display: flex;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.language_choises{
  margin: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 15px;

}


#language_display{
  display: flex;
  display: none;
  width: 94%;
  font-size: 23px;
}
#select_project{
  overflow-y: auto;
  width: auto;
  margin-right: 5%;
}
.checkbox_name{
  width: 50%;
}
footer {
  margin-top: auto;
}
