:root{
  --backround:  #e7e9f6;
  --backround_sub:  #cfd3ed;
  --corlor_text:#6B4CD5 ;
  --corlor_text_hover:#ffffff;
  --box-shadow: -1px 2px 12px 1px #000000;
  --box-shadow_sidebar: none;
  --color_element:#6B4CD5 ;
  --border_button:1px solid #D0CECE;
  --boxshadow_hover:1px 0px 10px 6px #6B4CD5 ;
  --border:1px solid #bfbfbf;
  --border_h:#ffffff;
  --boxshadow_popup: 0 0 12px 3px #949494;
  --button_background_hover:#6B4CD5 ;
  --button_background:#ffffff; ;
  --border_button:1px solid #bfbfbf;
  --button_corlortext:#ffffff;
  --table_text: black;
  --td_color:#ffffff;
  --th_color: #cfd3ed;
  --button_background_dis:#cfd3ed;
 
}

html,body{
  font-family: 'Calibri','Arial','Franklin Gothic Medium', 'Arial Narrow', 'sans-serif';
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--backround);
  display: flex;
  flex-direction: column;
}
header{
display: flex;
height: 53px;
padding-top: 15px;
}


/* ----------------------------css for bell and account-------------- */

.notification-list {
  text-align: center;
  color: var(--corlor_text);
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  background-color:var(--backround_sub);
  border:none;
  border-radius: 4px;
  padding: 10px;
  box-shadow: var(--box-shadow);
}


#account-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--backround);
  border: none;
  color:var(--color_element);
  width: fit-content;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 150%;
  margin-left: auto;
}
#account-button:hover{
  cursor: pointer;
  color: var(--corlor_text);
}
.notification-list-acc {
  color: var(--corlor_text);
  display: none;
  font-size: 14px;
  position: absolute;
  top: 6%;
  right: 0;
  width: fit-content;
  background-color:var(--backround_sub);
  border: none;
  border-radius: 4px;
  padding: 10px;
  box-shadow: var(--box-shadow);

}

.notification-list-acc p {
  font-size: 14px;
  margin-right: auto;
  width: fit-content;
}

.notification-list-acc button {
  margin-top: 20px;
  background: none;
  color: var(--color_element);
  border: none;
  text-align: right;
  width: 100%;
}
.notification-list-acc button:hover{
cursor: pointer;
}

/* -------------------------------------css for bell and account-------------------------------- */

/* ---------------------------CSS for sidebar---------------------------------- */
  .sidebar {
    z-index: 10;
    width: 370px;
    background-color:var(--backround_sub);
    height: 100vh;
    position: fixed;
    top: 0;
    left: -325px; 
    transition: left 0.3s ease;
    box-shadow: var(--box-shadow_sidebar);
  }

  .sidebar.open {
    left: 0;
  }
.menu{
  z-index: 10;
    color: var(--color_element);
  }

  .sidebar ul {
    font-size: 26px;
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
    margin-left: 30px;
  }

  .sidebar ul li {
     cursor: pointer;
    padding: 10px;

  }
  
  .sidebar ul li a {
 
    text-decoration: none;
    color:  var(--corlor_text);
  }

  .sidebar ul li a:hover {
    color:var(--color_element);
    font-weight: bold;
  }

  .content {
    margin-left: 250px;
    padding: 20px;
  }

  .menu {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
  }
/* ---------------------------CSS for sidebar---------------------------------- */

 /* --------------------------------------------------Database of wording--------------------------------------------------------------- */
 #wraper_Validator_Status{
  display:flex;
 }

 h1{
  margin-top: 0px;
  margin-bottom: 5px;
  color: var(--corlor_text);
  margin-left: 90px;
  font-size: 40px;
  font-weight: 2000;
 }
 h2{
  width: 100%;
  background-color: #1F4E78;
  color:var(--corlor_text_hover);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
 }
 h3{
  border-top: 0.5px solid #ffffff;
  color: var(--corlor_text);
  margin-left: 50px;
  font-size: 15px;
  font-weight: 1000;
  margin-top: 20px;
 }
 #Validator_Status_content{
  margin-left: auto;
  margin-right: 30px;
  width: 20%;

 }
 .grid-container {
  background-color:var(--backround);
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(3, auto);
  gap: 1px; 
}

.boxvs {
  color:#07010b;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border);
  padding: 10px;
  height: 2px;
  
}

.boxvs:nth-child(odd) {
  grid-column: 1; 
}

.boxvs:nth-child(even) {
  grid-column: 2; 
}
#btn_Information_about_TEXT_ID{
  font-size: larger;
  width: fit-content;
  background-color: var(--button_background);
  border-radius: 10px;
  border: 1px solid #D0CECE;
  padding: 10px 20px;
  color: var(--corlor_text);
  cursor: pointer;
  text-decoration: none;
  margin-left: 90px;
  font-weight: 800;
}
#btn_Information_about_TEXT_ID:hover {

  background-color: var(--button_background_hover);
  color: var(--corlor_text_hover);

}
#btn_back_to_home{
  margin-left: 100px;
  margin-top: 10px;
  height: fit-content;
  font-size: 15px;
  background-color: var(--color_element);
  color: #ffffff;
  border-radius: 5px;
  border: none;
}
#btn_back_to_home:hover {
cursor: pointer;
background-color: var(--color_element);
color: #000000;

}

#Wraper_table_Database_of_wording{
  position: relative;
  table-layout: fixed;
  white-space: nowrap;
  overflow: auto;
  margin-top: 20px;
  background-color: var(--backround);
  display: flex;
  width: auto;
  flex-grow: 1;
  margin-left: 70px;
  margin-right: 30px;
  height: 580px;
  border: none;
  table-layout: fixed;
  z-index: 3;
}
#Database_of_wording_content{
  flex: 1; 
  background-color: var(--backround);
  display: flex;
  flex-direction: column;
  z-index: 3;
  }
/* -------------------------CSS for table--------------------------------- */
 table {
  font-size: 20px;
  table-layout: fixed;
  border-collapse:separate;
  border-spacing: 0px;
  color: var(--table_text);
  box-sizing: border-box;
 

}
.blank{
  background-color: #FFFF00;
}
.full{
  background-color: #548235;

}
.normal{
  background-color: #d88675;
}
td input[type="text"] {

  overflow-wrap: break-word;
  width: fit-content;
  height: fit-content;
  border: none;
  outline: none;
  background:none;
  font-family: inherit;
  font-size: inherit;
  color: black;
}
tr td:nth-child(11) input[type="text"] {

  overflow-wrap: break-word;
  width: fit-content;
  height: 50px ;
  border: none;
  outline: none;
  background:#FFFF00;
  font-family: inherit;
  font-size: inherit;
  color: #ffffff;
}
th, td {
  position: relative;
  box-sizing: border-box;
  padding: 8px;
  text-align: left;
  border: var(--border);
  text-align: center;
}
 td{

  background-color: var(--td_color);
 
}

th {
  background-color: var(--th_color);
} 

.sticky-thead {
  position: sticky;
  top: 0;
  z-index: 2;

}
th#th_check{
  position: sticky;

  left:0px;
  z-index: 2;
}
td:first-child{
  position: sticky;
  left: 0;
  z-index: 1;
}
th#th_textid {

  position: sticky;
  left: var(--a);
  z-index: 2;
}
td:nth-child(2) {
  z-index: 1;
  position: sticky;
  left: var(--a);
}
th#th_ver{
  position: sticky;
  left: var(--b);
  z-index: 2;
}
td:nth-child(3) {
 z-index: 1;
position: sticky;
left: var(--b);

}

th#th_eng{

  position: sticky;

  left: var(--c);
  z-index: 2;
}
th#th_text{
 
  position: sticky;
  left: var(--c);
  z-index: 2;
}
td:nth-child(4) {
  z-index: 1;
position: sticky;
left: var(--c);
width: 20px;

}
#myTable_Database_of_wording thead {
  position: sticky;
  top: 0;
  z-index: 2;

}


#th_eng {
  width: 20px;

}
/* -------------------------CSS for table--------------------------------- */

  @media only screen and (max-width: 1600px) {
    #Wraper_table_Database_of_wording{
     
      height: 550px;

    }
  }
  @media only screen and (max-width: 1366px) {
   h1{
     
      font-size: 20px;

    }
    #btn_Information_about_TEXT_ID {
      font-size: 6px;

    }
    #Wraper_table_Database_of_wording {
      height: 440px;
  }

  }
  @media only screen and (max-width: 2560px) {


    #wraper_Validator_Status{
      margin-right: 30px;
    }
    #Wraper_table_Database_of_wording{
     width: 92%;
      height: 490px;
  
    }
    th, td {

      border: var(--border_button) !important;

    }
      }
@media only screen and (max-width: 3840px) {
  
}
  #btn_back_home {
    display: none;
  }
  