:root{
  --backround:  #e7e9f6;
  --backround_sub:  #cfd3ed;
  --corlor_text:#6B4CD5 ;
  --corlor_text_hover:#ffffff;
  --box-shadow: -1px 2px 12px 1px #000000;
  --box-shadow_sidebar: none;
  --color_element:#6B4CD5 ;
  --border_button:1px solid #D0CECE;
  --boxshadow_hover:1px 0px 10px 6px #6B4CD5 ;
  --border:1px solid #bfbfbf;
  --border_h:#ffffff;
  --boxshadow_popup: 0 0 12px 3px #949494;
  --button_background_hover:#6B4CD5 ;
  --button_background:#ffffff; ;
  --border_button:1px solid #bfbfbf;
  --button_corlortext:#ffffff;
  --table_text: black;
  --td_color:#ffffff;
  --th_color: #cfd3ed;
  --button_background_dis:#cfd3ed;
 
}



html,body{
  font-family: 'Calibri','Arial','Franklin Gothic Medium', 'Arial Narrow', 'sans-serif';
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--backround);
  display: flex;
  flex-direction: column;
}
header{
display: flex;
height: 53px;
padding-top: 15px;
}


/* -------------------------------------css for bell and account-------------------------------- */

.notification-list {
  text-align: center;
  color: var(--corlor_text);
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  background-color:var(--backround_sub);
  border:none;
  border-radius: 4px;
  padding: 10px;
  box-shadow: var(--box-shadow);
}


#account-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--backround);
  border: none;
  color:var(--color_element);
  width: fit-content;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 150%;
  margin-left: auto;
}
#account-button:hover{
  cursor: pointer;
  color: var(--corlor_text);
}
.notification-list-acc {
  color: var(--corlor_text);
  display: none;
  font-size: 14px;
  position: absolute;
  top: 6%;
  right: 0;
  width: fit-content;
  background-color:var(--backround_sub);
  border: none;
  border-radius: 4px;
  padding: 10px;
  box-shadow: var(--box-shadow);

}

.notification-list-acc p {
  font-size: 14px;
  margin-right: auto;
  width: fit-content;
}

.notification-list-acc button {
  margin-top: 20px;
  background: none;
  color: var(--color_element);
  border: none;
  text-align: right;
  width: 100%;
}
.notification-list-acc button:hover{
cursor: pointer;
}

/* -------------------------------------css for bell and account-------------------------------- */

/* ---------------------------CSS for sidebar---------------------------------- */
  .sidebar {
    z-index: 10;
    width: 370px;
    background-color:var(--backround_sub);
    height: 100vh;
    position: fixed;
    top: 0;
    left: -325px; 
    transition: left 0.3s ease;
    box-shadow: var(--box-shadow_sidebar);
  }

  .sidebar.open {
    left: 0; 
  }
.menu{
  z-index: 10;
    color: var(--color_element);
  }

  .sidebar ul {
    font-size: 26px;
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
    margin-left: 30px;
  }

  .sidebar ul li {
     cursor: pointer;
    padding: 10px;
  }
  
  .sidebar ul li a {
 
    text-decoration: none;
    color:  var(--corlor_text);
  }

  .sidebar ul li a:hover {
    color:var(--color_element);
    font-weight: bold;
  }

  .content {
    margin-left: 250px;
    padding: 20px;
  }

  .menu {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
  }
/* ---------------------------CSS for sidebar---------------------------------- */

/* --------------------------------------------------------------------------------translation request------------------------------------------------------------------------ */

h1{
text-decoration:2px underline;
text-underline-offset: 4px;

margin-top: 0px;
margin-bottom: 20px;
color:var(--corlor_text);
margin-left: 90px;
font-size: 40px;
font-weight: 2000;
}
h2{
width: 100%;
background-color: #1F4E78;
color: var(--corlor_text);
display: flex;
align-items: center;
justify-content: center;
margin: 1px;
}
h3{
border-top: 0.5px solid var(--border_h);
color: var(--corlor_text);
margin-left: 50px;
font-size: 15px;
font-weight: 1000;
margin-top: 20px;
}
h4{
height: 40%;
text-align: center;
text-decoration:2px underline;
text-underline-offset: 4px;
margin-top: 0px;
margin-bottom: 5px;
color:var(--corlor_text);
font-size: 50px;
font-weight: 1000;
}
h5{
height: 25%;
text-align: center;
text-decoration:2px underline;
text-underline-offset: 4px;
margin-top: 20px;
margin-bottom: 5px;
color:var(--corlor_text);
font-size: 50px;
font-weight: 1000;
}
h6{
height: 25%;
text-align: center;
text-decoration:2px underline;
text-underline-offset: 4px;
margin-top: 20px;
margin-bottom: 5px;
color: var(--corlor_text);
font-size: 50px;
font-weight: 1000;
}

.box_btn button{
  font-size: larger;
  width: fit-content;
  background-color: var(--button_background_dis);
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  color: var(--color_element);
  text-decoration: none;
  margin-left: 10px;
  font-weight: 800;

}
.box_btn {
  margin-left: 60px;
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
}
.box_btn button {
  flex: 0 0 auto;
  margin-right: 10px;
  margin-bottom: 10px;
}
.box_btn button :hover {
  background: var(--button_background_hover);

}
#btn_back_to_home{
  margin-left: 100px;
  margin-top: 10px;
  height: fit-content;
  padding:10px 20px;
  font-size: 15px;
  background-color: var(--color_element);
  color: #ffffff;
  border-radius: 5px;
  border: none;
}
#btn_back_to_home:hover {
cursor: pointer;
background-color: var(--color_element);
color: var(--corlor_text_hover);

}

#Wraper_table_Translation_Request{
position: relative;
table-layout: fixed;

overflow: auto;
margin-top: 20px;
background-color: var(--backround);
display: flex;
width: auto;
flex-grow: 1;
margin-left: 70px;
margin-right: 30px;
height: 580px;
border: none;
table-layout: fixed;
z-index: 3;
}
#Wraper_table_Translation_Request_info{
position: relative;
table-layout: fixed;

overflow: auto;
margin-top: 20px;
background-color:var(--backround);
display: none;
width: auto;
flex-grow: 1;
margin-left: 70px;
margin-right: 30px;
height: 580px;
border: none;
table-layout: fixed;
z-index: 3;
}
#Wraper_table_Translation_Request_Translator{
position: relative;
table-layout: fixed;

overflow: auto;
margin-top: 20px;
background-color:var(--backround);
display: none;
width: auto;
flex-grow: 1;
margin-left: 70px;
margin-right: 30px;
height: 580px;
border: none;
table-layout: fixed;
z-index: 3;
}
#Wraper_table_Translation_request_manager{

    position: relative;
    table-layout: fixed;
    
    overflow: auto;
    margin-top: 20px;
    background-color: var(--backround);

    width: auto;
    flex-grow: 1;
    margin-left: 60px;
    margin-right: 30px;
    height: 580px;
    border: none;
    table-layout: fixed;
    z-index: 3;

}
#Translation_Request_content{
flex: 1; 
background-color: var(--backround);
display: flex;
flex-direction: column;
z-index: 3;
}
/* -------------------------CSS for table--------------------------------- */
table {
  font-size: 20px;
table-layout: fixed;
border-collapse:separate;
border-spacing: 0px;
color: var(--table_text);
box-sizing: border-box;


}
#myTable_Translation_Request_info {
width:100% ;
height: fit-content;
word-wrap: break-word;
}
#myTable_Translation_Request_info td{
  color: black;
}
#myTable_Translation_request_info_manager{
width:100% ;
height: fit-content;
word-wrap: break-word;
}
#myTable_Translation_Request{
height: fit-content;
word-wrap: break-word;
}
.blank{
background-color: #e9e983;
}
.NG{
background-color: rgb(197, 106, 106);

}
.OK{
background-color: #5db66c;
}

#Wraper_table_Translation_Request_Translator table{
width: 100%;
}
td input[type="text"] {

overflow-wrap: break-word;
width: fit-content;
height: fit-content;
border: none;
outline: none;
background:none;
font-family: inherit;
font-size: inherit;
color:var(--corlor_text);
}
tr td:nth-child(11) input[type="text"] {

overflow-wrap: break-word;
width: fit-content;
height: 50px ;
border: none;
outline: none;
background:#FFFF00;
font-family: inherit;
font-size: inherit;
color: var(--corlor_text);
}

#myTable_Translation_Request{
  width:1px;
}
.th_width{
  width: 200px;
}
.th_width_select{
  width: 100px;
}
th, td {
position: relative;
box-sizing: border-box;
padding: 8px;
text-align: left;
border: var(--border);
text-align: center;
}
td{

background-color: var(--td_color);

}

th {

  background-color: var(--th_color);
} 

.sticky-thead {
  position: sticky;
  top: 0;
  z-index: 2;

}
th#th_check{
  width: 80px;
  position: sticky;
  left: 0;
  z-index: 2;
}
#myTable_Translation_Request td:first-child{
  width: 80px;
  position: sticky;
  left: 0;
  z-index: 1;
}
th#th_textid {
  width: 250px;
  border-right: 1px solid var(--border_table);
  position: sticky;
  left: 80px;
  z-index: 2;
}
#myTable_Translation_Request td:nth-child(2) {
  width: 250px;
  z-index: 1;
  position: sticky;

left: 80px;


}
th#th_ver{
  width: 82px;
  position: sticky;
  left: 330px;
  z-index: 2;
}
#myTable_Translation_Request td:nth-child(3) {
  z-index: 1;
  position: sticky;

  left: 330px;

}

th#th_language_1_4{
  width: 200px;
  position: sticky;
  left: 412px;
  z-index: 2;
}
th#th_engsub{
  width: 200px;
  position: sticky;

  left: 412px;
  z-index: 2;
}
#myTable_Translation_Request td:nth-child(4) {
z-index: 1;
position: sticky;

left: 412px;

}
/* -------------------hoangbom----------------------- */


/* ---------------------------css for list button-------------------------------------------- */
.btn{
  font-size: larger;
  width: fit-content;
  background-color: var(--button_background)!important;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #D0CECE !important;
  padding: 10px 20px;
  color: var(--corlor_text);
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 800;
  position: relative;

}
.btn:hover {

  background-color: var(--button_background_hover) !important;
  color:#ffffff;

}
#btn_Translation_Request_Modify{
display: none;
}
#btn_Translation_Request_save{
display: none;
}
#btn_Translation_Request_Confirm_translation
{
display: none;
margin-left: auto;
}
#btn_Translation_Request_Set_Password
{
display: none;
}
#btn_Translation_Request_Set_Approval
{
display: none;
}
#btn_Translation_Request_Send_Approval
{
display: none;
}
#btn_Translation_Set_Deadline
{
display: none;
}
#btn_Translation_Request_Reject
{
display: none;
}
#btn_Translation_Request_Send_request_to_Maruboshi
{
display: none;

}
#btn_Translation_Request_Hamidashi_check
{
display: none;
}
#btn_Translation_Request_Send_result{
display: none;
}

/* ---------------------------css for list button-------------------------------------------- */

/* ------------------------------popup set password------------------------------------------ */
#Translation_Request_Set_password{
display: flex;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.8);
position: fixed;
top:0;
left: 0;
z-index: 3;
justify-content: center;
align-items: center;
opacity: 0;
pointer-events: none;
}
#modal_Translation_Request_Set_password{
border-radius: 15px;
box-shadow: var(--boxshadow_popup);
padding: 20px;
display: grid;
grid-template-columns: repeat(1, 1fr);
gap: 8px;
position: relative;
background: var(--backround);
width: 500px;
height: 600px;

}
#Translation_Request_Set_password.show{
opacity: 1 !important;
pointer-events: all;
}
.Translation_Request_Set_password_btn_ok_cancle{
display: flex;
height: fit-content;
justify-content: flex-end;

}


.btn_pop{
font-size: larger;
width: fit-content;
background-color: var(--button_background);
border-radius: 10px;
border: 1px solid var(--border_button);
padding: 10px 20px;
color: var(--color_element);
cursor: pointer;
text-decoration: none;
margin-left: 10px;
font-weight: 800;
}
.btn_pop:hover {

background-color: var(--color_element);
color:var(--corlor_text_hover);

}
#Translation_Request_form_set_password{
display: grid;
place-items: center; 
padding: 20px;
}
#Translation_Request_form_set_password span{
width: 90%;
height: 150px;
}
#modal_Translation_Request_Set_password p{
  text-align: center;
  color:var(--corlor_text);
  font-size: 20px;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 0px;
  height: fit-content;
}
#Translation_Request_form_set_password span input{
width: 100%;
height: 50%;
border: 2px solid var(--color_element);
border-radius: 23px;
background-color: var(--backround_sub);
font-size: 30px; 
color:var(--corlor_text); 
}
#Translation_Request_form_set_password span input text{
font-size: 30px;
color: var(--corlor_text);

}
#Translation_Request_form_set_password label{
color: var(--corlor_text);
font-size: 25px;
}


#not_macth{
color: red;
display: none;

}
#lack_of_infor{
color: red;
display: none;
}
#lack_of_infor2{
  left: 0;
  width: 100%;
  position: fixed;
  top: 20px;
  text-align: center;
  color: red;
  display: none;
  text-align: center;
}
/* ------------------------------popup set password------------------------------------------ */
/* ------------------------------popup set approval------------------------------------------ */
/* -----------------css for Set Approval popup------------------------------- */

#Translation_Request_Set_Approval{
display: flex;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.8);
position: fixed;
top:0;
left: 0;
z-index: 3;
justify-content: center;
align-items: center;
opacity: 0;
pointer-events: none;
}
#modal_Translation_Request_Set_Approval{
border-radius: 15px;
box-shadow: var(--boxshadow_popup);
padding: 20px;
display: grid;
grid-template-columns: repeat(1, 1fr);
gap: 8px;
position: relative;
background: var(--backround);
width: 500px;
height: 760px;

}
#Translation_Request_Set_Approval.show{
opacity: 1;
pointer-events: all;
}
.Translation_Request_Set_Approval_btn_ok_cancle{
display: flex;
height: fit-content;
justify-content: flex-end;
}
#modal_Translation_Request_Set_Approval td:first-child{
width: 5%;
}
#modal_Translation_Request_Set_Approval td input[type="text"] {

overflow-wrap: break-word;
width: 100%;
height: fit-content;
border: none;
outline: none;
background:none;
font-family: inherit;
font-size: inherit;
color: var(--corlor_text);
}
/* ------------------------------popup set approval------------------------------------------ */


/* ------------------------------popup set deadline------------------------------------------ */

#Translation_Request_Set_dealine{
display: flex;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.8);
position: fixed;
top:0;
left: 0;
z-index: 3;
justify-content: center;
align-items: center;
opacity: 0;
pointer-events: none;
}
#modal_Translation_Request_Set_dealine{
border-radius: 15px;
box-shadow: var(--boxshadow_popup);
padding: 20px;
gap: 8px;
position: relative;
background: var(--backround);
width: 500px;
height: 600px;

}
#modal_Translation_Request_Set_dealine label{
color: var(--corlor_text);
font-size: 40px;
}
#modal_Translation_Request_Set_dealine input{
width: 100%;
height: 20%;
border: 2px solid var(--color_element);
border-radius: 23px;
background-color: var(--backround_sub);
font-size: 30px; 
color:var(--corlor_text); 
}
#Translation_Request_Set_dealine.show{
opacity: 1;
pointer-events: all;
}
.Translation_Request_Set_dealine_btn_ok_cancle{
display: flex;
height: fit-content;
justify-content: flex-end;
margin-top: 20px;
}
#lack_of_infor3{
text-align: center;
color: red;
display: none;
}
/* ------------------------------Check_Translation------------------------------------------ */

#Translation_Request_Check_Translation{
display: flex;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.8);
position: fixed;
top:0;
left: 0;
z-index: 3;
justify-content: center;
align-items: center;
opacity: 0;
pointer-events: none;
}
#modal_Translation_Request_Check_Translation{
border-radius: 15px;
box-shadow: var(--boxshadow_popup);
padding: 20px;
display: grid;
grid-template-columns: repeat(1, 1fr);
grid-template-rows: 100px 40px 100px;
gap: 8px;
position: relative;
background: var(--backround);
width: 500px;
height: 600px;
align-content: space-between;

}
#modal_Translation_Request_Check_Translation label{
color: var(--corlor_text);
font-size: 40px;
}
#modal_Translation_Request_Check_Translation input{
width: 100%;
cursor: pointer;
height: 20%;
border: 2px solid var(--backround);
border-radius: 23px;
background-color: var(--backround);
font-size: 30px; 
color:var(--corlor_text);
}
#Translation_Request_Check_Translation.show{
opacity: 1;
pointer-events: all;
}
.Translation_Request_Check_Translation_btn_ok_cancle{
display: flex;
height: fit-content;
justify-content: flex-end;
margin-top: 20px;
}
#Translation_Request_Check_Translation_Eddit{
margin-right: auto;
}
#lack_of_infor4{
text-align: center;
color: red;
MARGIN-TOP: -8%;
height: 66%;
FONT-SIZE: 20PX;
display: none;
}
#table_Translation_Request_Check_Translation{
margin-top: -20%;
}


/* ------------------------------popup set deadline------------------------------------------ */
#mess_tran{
display: none;
margin-top: 0;
margin-bottom: 1px;
text-align: center;
color: #59c1fd;
font-size: 30px;
}
#mess_tran2{
display: none;
margin-top: 0;
margin-bottom: 1px;
text-align: center;
color: #59c1fd;
font-size: 30px;
}
#mess_tran3{
display: none;
text-decoration:2px underline;
margin-top: 0;
margin-bottom: 1px;
text-align: center;
color:red;
font-size: 20px;
}


/* -------------------------CSS for table--------------------------------- */

@media only screen and (max-width: 1600px) {
  #Wraper_table_Translation_Request{

    height: 550px;

  }
  #Wraper_table_Translation_Request_info{

    height: 550px;

  }

}
@media only screen and (max-width: 1366px) {
h1{

    font-size: 20px;

  }
  #btn_Information_about_TEXT_ID {
    font-size: 6px;

  }
  #Wraper_table_Translation_Request {
    height: 440px;
}
#Wraper_table_Translation_Request_info {
  height: 440px;
}

#mess_tran2{
font-size: 20px;
}

#mess_tran{
font-size: 20px;
}




}
@media only screen and (max-width: 2560px) {


  #wraper_Validator_Status{
    margin-right: 30px;
  }

#Wraper_table_Translation_Request{
height: 510px;
}
#Wraper_table_Translation_request_manager{
  height: 510px;
}
    }
    #Wraper_table_Translation_Request_info{
      height: 510px;
    }
    #Wraper_table_Translation_Request_Translator{
      height: 510px;
    }
@media only screen and (max-width: 3840px) {

}


.gray{
  background-color: lightgray;
  }

#Validator_Status_content{
  margin-left: auto;
  margin-right: 400px;
  width: 20%;

  }
  .grid-container {
  background-color:var(--backround);
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(3, auto);
  gap: 1px; 
}

.boxvs {
  color:#07010b;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border);
  padding: 10px;
  height: 2px;
  
}