:root{
  --backround:  #e7e9f6;
  --backround_sub:  #cfd3ed;
  --corlor_text:#6B4CD5 ;
  --corlor_text_hover:#ffffff;
  --box-shadow: -1px 2px 12px 1px #000000;
  --box-shadow_sidebar: none;
  --color_element:#6B4CD5 ;
  --border_button:1px solid #D0CECE;
  --boxshadow_hover:1px 0px 10px 6px #6B4CD5 ;
  --border:1px solid #bfbfbf;
  --border_h:#ffffff;
  --boxshadow_popup: 0 0 12px 3px #949494;
  --button_background_hover:#6B4CD5 ;
  --button_background:#ffffff; ;
  --border_button:1px solid #bfbfbf;
  --button_corlortext:#ffffff;
  --table_text: black;
  --td_color:#ffffff;
  --th_color: #cfd3ed;
  --button_background_dis:#cfd3ed;
 
}



html,body{
  font-family: 'Calibri','Arial','Franklin Gothic Medium', 'Arial Narrow', 'sans-serif';
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--backround);
  display: flex;
  flex-direction: column;
}
header{
display: flex;
height: 53px;
padding-top: 15px;
}


/* -----------------------------css for bell and account-------------- */

.notification-list {
  text-align: center;
  color: var(--corlor_text);
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  background-color:var(--backround_sub);
  border:none;
  border-radius: 4px;
  padding: 10px;
  box-shadow: var(--box-shadow);
}


#account-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--backround);
  border: none;
  color:var(--color_element);
  width: fit-content;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 150%;
  margin-left: auto;
}
#account-button:hover{
  cursor: pointer;
  color: var(--corlor_text);
}
.notification-list-acc {
  color: var(--corlor_text);
  display: none;
  font-size: 14px;
  position: absolute;
  top: 6%;
  right: 0;
  width: fit-content;
  background-color:var(--backround_sub);
  border: none;
  border-radius: 4px;
  padding: 10px;
  box-shadow: var(--box-shadow);

}

.notification-list-acc p {
  font-size: 14px;
  margin-right: auto;
  width: fit-content;
}

.notification-list-acc button {
  margin-top: 20px;
  background: none;
  color: var(--color_element);
  border: none;
  text-align: right;
  width: 100%;
}
.notification-list-acc button:hover{
  cursor: pointer;
}

/* -------------------------------------css for bell and account-------------------------------- */

/* ---------------------------CSS for sidebar---------------------------------- */
  .sidebar {
    z-index: 10;
    width: 370px;
    background-color:var(--backround_sub);
    height: 100vh;
    position: fixed;
    top: 0;
    left: -325px;
    transition: left 0.3s ease;
    box-shadow: var(--box-shadow_sidebar);
  }

  .sidebar.open {
    left: 0; 
  }
.menu{
  z-index: 10;
    color: var(--color_element);
  }

  .sidebar ul {
    font-size: 26px;
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
    margin-left: 30px;
  }

  .sidebar ul li {
     cursor: pointer;
    padding: 10px;
  }
  
  .sidebar ul li a {
 
    text-decoration: none;
    color:  var(--corlor_text);
  }

  .sidebar ul li a:hover {
    color:var(--color_element);
    font-weight: bold;
  }

  .content {
    margin-left: 250px;
    padding: 20px;
  }

  .menu {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
  }
/* ---------------------------CSS for sidebar---------------------------------- */


/* ------------------------------------------------------------------------------------------------------------------------------------- */
 /* ----------------------------------------------------------Information about TEXT ID------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
 h1{
  text-decoration:2px underline;
  text-underline-offset: 4px;
  
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--corlor_text);
  margin-left: 90px;
  font-size: 40px;
  font-weight: 2000;
 }

 h3{
  border-top: 0.5px solid #ffffff;
  color: var(--corlor_text);
  margin-left: 50px;
  font-size: 15px;
  font-weight: 1000;
  margin-top: 20px;
 }
 h4{
  height: 40%;
  text-align: center;
  text-decoration:2px underline;
  text-underline-offset: 4px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: var(--corlor_text);
  font-size: 40px;
  font-weight: 1000;
 }
 .box_btn {
  margin-left: 60px;
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
}

.box_btn button {
  flex: 0 0 auto;
  margin-right: 10px;
  margin-bottom: 10px;
}

.btn_disnable{
  font-size: larger;
  width: fit-content;
  background-color: #191919;
  border-radius: 10px;
  border: var(--border);
  padding: 10px 20px;
  color: var(--corlor_text);
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 800;
}

.box_btn button{
  font-size: larger;
  width: fit-content;
  background-color: var(--button_background_dis);
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  color: var(--color_element);
  text-decoration: none;
  margin-left: 10px;
  font-weight: 800;

}
.box_btn {

  margin-left: 60px;
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
}
.box_btn button {
  cursor: pointer;
  flex: 0 0 auto;
  margin-right: 10px;
  margin-bottom: 10px;
}
.box_btn button:hover {
  background: var(--button_background_hover);
  color: var(--corlor_text_hover);

}
.btn{
  font-size: larger;
  width: fit-content;
  background-color: var(--button_background) !important;
  border-radius: 10px;
  box-sizing: border-box;
  border: var(--border)!important;
  padding: 10px 20px;
  color: var(--corlor_text);
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 800;
}
.btn:hover {

  background-color: var(--button_background_hover)!important;
  color:var(--button_corlortext);

}
.btn_pop{
  font-size: larger;
  width: fit-content;
  background-color: var(--backround);
  border-radius: 10px;
  border: var(--border);
  padding: 10px 20px;
  color: var(--corlor_text);
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 800;
}
.btn_pop:hover {

  background-color: var(--button_background_hover)!important;
  color:var(--corlor_text_hover)!important;

}
#btn_back_to_Database_of_wording_content{
  margin-left: 100px;
  margin-top: 10px;
  padding:10px 20px;
  height: fit-content;
  font-size: 15px;
  background-color: var(--corlor_text);
  color: #ffffff;
  border-radius: 5px;
  border: none;
}
#btn_back_to_Database_of_wording_content:hover {
  cursor: pointer;
  background-color: var(--button_background_hover);
  color: var(--corlor_text_hover);

}
#btn_Information_about_TEXT_ID_Set_Approval_route{
  margin-left: auto;
}
#Wraper_table_Information_about_TEXT_ID{
  position: relative;
  overflow-y: auto;
  margin-top: 20px;
  background-color: var(--backround);
  display: flex;
  width: auto;
  flex-grow: 1;
  margin-left: 70px;
  margin-right: 30px;
  height: 580px;
  border: none;
  table-layout: fixed;
  z-index: 1;
}
#Information_about_TEXT_ID{
  flex: 1; 
  background-color: var(--backround);
  display: flex;
  flex-direction: column;
  z-index: 1;
  }
/* -------------------------CSS for table--------------------------------- */
#myTable{
  height: fit-content;
}

table {
  font-size: 20px;
  width: 100%;
  border-collapse:separate;
  border-spacing: 0px;
  color: var(--table_text);
 
}
td input[type="text"] {

  width: 100%;
  height: fit-content;
  border: none;
  outline: none;
  background:black;
  font-family: inherit;
  font-size: inherit;
  color: #ffffff;
}
.blank{
  background-color: #FFFF00;
}
.full{
  background-color: #548235;

}
.normal{
  background-color: #d88675;
}
th, td {
 
  
  box-sizing: border-box;
  padding: 8px;
  text-align: left;
  border: var(--border_button);
  text-align: center;
}
td{

  background-color: var(--td_color);
  word-wrap: break-word;
  word-break: break-all;
}

th {
  
  
  background-color: var(--th_color);
}
thead th { 
  position:sticky;
  top: 0;
} 
td:last-child{
  width: 6%;
}
td:nth-child(2){
  width: 14%;
}
input[type="checkbox"]:hover {
  cursor: pointer;
}

/* -------------------------CSS for table--------------------------------- */


#table_Meter_Display_type{
  overflow: auto !important;
}




/* -----------------css for Meter Display type popup------------------------------- */

#Information_about_TEXT_ID_Meter_Display_type{
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top:0;
    left: 0;
    z-index: 3;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
#modal_Meter_Display_type{
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;
  position: relative;
  background: var(--backround);
  width: 500px;
  height: 600px;

}
#Information_about_TEXT_ID_Meter_Display_type.show{
  opacity: 1;
  pointer-events: all;
}
.btn_ok_cancle{
  display: flex;
  height: fit-content;
  justify-content: flex-end;
}
#modal_Meter_Display_type td input[type="text"] {

  overflow-wrap: break-word !important;
  width: 100%!important;
  height: fit-content!important;
  border: none!important;
  outline: none!important;
  background:none!important;
  font-family: inherit!important;
  font-size: inherit!important;
  color: black!important;
  text-align: center!important;
}
#Meter_Display_type_add{
  margin-right: auto;
  color: var(--corlor_text);
  border: none;
  background: none;
}
#Meter_Display_type_remove{
  display: none;
  margin-right: auto;
  color: var(--corlor_text);
  border: none;
  background: none;
}
/* -----------------css for Meter Display type popup------------------------------- */

/* -----------------css for Set Approval popup------------------------------- */

#Information_about_TEXT_ID_Set_Approval{
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  position: fixed;
  top:0;
  left: 0;
  z-index: 3;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}
#modal_Set_Approval{
border-radius: 15px;
box-shadow: var(--box-shadow);
padding: 20px;
display: grid;
grid-template-columns: repeat(1, 1fr);
gap: 8px;
position: relative;
background: var(--backround);
width: 500px;
height: 600px;

}
#Information_about_TEXT_ID_Set_Approval.show{
opacity: 1;
pointer-events: all;
}
.btn_ok_cancle{
display: flex;
height: fit-content;
justify-content: flex-end;
}
#modal_Set_Approval td:first-child{
  width: 5%;
}
#modal_Set_Approval td input[type="text"] {

  overflow-wrap: break-word;
  width: 100%;
  height: fit-content;
  border: none;
  outline: none;
  background:none;
  font-family: inherit;
  font-size: inherit;
  color: black;
}
.active {
  background-color: gray;
}
#lack_of_infor2{
  text-align: center;
  color: red;
  display: none;
}
#lack_of_infor4{
  text-align: center;
  color: red;
  display: none;
  margin: 0px;
}
/* -----------------css for Set Approval popup------------------------------- */
.editable {
  background-color: #f2f2f2;
}

.editable input {
  pointer-events: none;
}



#btn_Information_about_TEXT_ID_Reject{
  display: none;
}
#btn_Information_about_TEXT_ID_Approval{
  display: none;
}



@media only screen and (max-width: 1600px) {
    #Wraper_table_Database_of_wording{
     
      height: 550px;

    }
  }
@media only screen and (max-width: 1366px) {
   h1{
     
      font-size: 20px;

    }
    #btn_Information_about_TEXT_ID {
      font-size: 6px;

    }
    #Wraper_table_Database_of_wording {
      height: 440px;
  }
.after-layer{
  height: 370px;
}

  }
@media only screen and (max-width: 2560px) {
  .after-layer{
    top: 304px;
    height: 1220px;
  }

  
  #Wraper_table_Information_about_TEXT_ID{
    height: 490px;
  }
  
    }

