html,body{
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #252525;
  }
header{
  display: flex;
  height: 53px;
  padding-top: 15px;
}

/* -----------------------------css for list thong bao-------------- */

.notification-list {
  text-align: center;
  color: #ffffff;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  background-color:#323232;
  border:none;
  border-radius: 4px;
  padding: 10px;
  box-shadow: -1px 2px 12px 1px #000000;
}

/* -----------------------------css for list thong bao-------------- */

/* -------------------------------------css for bell and account-------------------------------- */
#account-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252525;
  border: none;
  color: #e94801;
  width: fit-content;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 150%;
  margin-left: auto;
}
#account-button:hover{
  cursor: pointer;
  color: #ffffff;
}
.notification-list-acc {
  color: #ffffff;
  display: none;
  font-size: 14px;
  position: absolute;
  top: 6%;
  right: 0;
  width: fit-content;
  background-color:#323232;
  border: none;
  border-radius: 4px;
  padding: 10px;
  box-shadow: -1px 2px 12px 1px #000000;

}

.notification-list-acc p {
  font-size: 14px;
  margin-right: auto;
  width: fit-content;
}

.notification-list-acc button {
  margin-top: 20px;
  background: none;
  color: #e94801;
  border: none;
  text-align: right;
  width: 100%;
}
.notification-list-acc button:hover{
cursor: pointer;
}

/* -------------------------------------css for bell and account-------------------------------- */

/* ---------------------------CSS for sidebar---------------------------------- */
  .sidebar {
    width: 250px;
    background-color: #323232;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -208px; /* ẩn thanh menu bên trái */
    transition: left 0.3s ease;
    box-shadow: 6px 2px 12px 1px #000000;
  }

  .sidebar.open {
    left: 0; /* hiển thị thanh menu bên trái */
  }
.menu{
    color: #e94801;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
    margin-left: 30px;
  }

  .sidebar ul li {
     cursor: pointer;
    padding: 10px;
    /* border-bottom: 1px solid #ccc; */
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color:  #ffffff;
  }

  .sidebar ul li a:hover {
    color:#e94801;
    font-weight: bold;
  }

  .content {
    margin-left: 250px;
    padding: 20px;
  }

  .menu {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
  }
/* ---------------------------CSS for sidebar---------------------------------- */
/*--------------------------CSS cho các tinh nang -------------------------------*/

  .box:hover{
    box-shadow: 1px 0px 10px 6px #e94801;
  }
  .box:active{
    background-color: #e94801;
    color: white;
  }
  .active{
    background-color: #e94801 !important;
    color: white!important;
  }

  .centerBox {
    width: 400px;
    height: 300px;
    background-color: lightblue;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #startButton {
    font-size: larger;
    width: 40%;
    background-color: #252525;
    border-radius: 10px;
    border: 1px solid #D0CECE;
    padding: 10px 20px;
    color: #e94801;
    cursor: pointer;
    text-decoration: none;
  }
  #startButton:hover {

    background-color: #e94801;
    color: #000000;

  }
#home_container{
    width: auto;
    margin-left: 40px;
    height: 90%;
    display: flex;
}
#home_function{
    display: grid;
    gap: 20px;
    flex-basis: 20%;
    height: 100%;
    justify-content:center;
    align-items:center;
}
.box {
  font-size: 20px;
  font-weight: 600;
  color:  #e94801;
  border:2px solid #c2c2c2 ;
  border-radius: 10px;
  width: 200px;
  height: 110px;
  background-color: #252525;
  margin-bottom: 10px;
  cursor: pointer;  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}
#home_view_function{
    background-color: #252525;
    flex-basis: 80%;
    height: 100%;
}

#viewbox{
    color: #D0CECE;
    margin-inline-start: -230px;
    width: 500px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 1px 0px 20px 6px #e94801;
}
#viewbox.a:hover{
cursor: pointer;
}
p{
  display: flex;
  height: 60%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
h3{
  border-top: 0.5px solid #ffffff;
  color: #ffffff;
  margin-left: 50px;
  font-size: 15px;
  font-weight: 1000;
  margin-top: 20px;
 }

  /*--------------------------CSS cho các tinh nang -------------------------------*/

  .disabled {
    height: 30% !important;
    display: none !important;
    box-shadow: inset 13px -6px 12px 1px #000000;
    border: none;
    
  }
  
