/* <select> styles */
select {
    /* Reset */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 20em;
    height: 3em;
    padding: 0 4em 0 1em;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(134, 129, 129, 0.3) 3em, rgba(150, 144, 144, 0.3) 3em);
    color: rgb(7, 6, 6);
    border-radius: 0.25em;
    cursor: pointer;
    /* <option> colors */
    /* Remove focus outline */
    /* Remove IE arrow */
  }
  select option {
    color: inherit;
    background-color: #ede6eb;
  }
  select:focus {
    outline: none;
  }
  select::-ms-expand {
    display: none;
  }